
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade"  data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img [src]="movies[0].image" class=" w-100 img_banner over-image" alt="...">
        <div class="carousel-caption d-sm-block d-md-block">
            <h1 style="font-family: 'Bebas Neue', sans-serif;"> {{movies[0].title}}</h1>
            <button type="button" class="btn btn-danger  btn-sm m-2" data-bs-toggle="button" style="width: auto; height: auto;"[routerLink]="['/movie',movies[0]._id]"><span >WATCH MOVIE</span> </button> 
            <button type="button" class="btn btn-dark  btn-sm m-2" data-bs-toggle="button" style="width:fit-content; height: fit-content;">+ MY LIST </button> 
        </div>
      </div>

      <div class="carousel-item active">
        <img src="https://pixy.org/src/21/219269.jpg" class=" w-100 img_banner over-image " alt="...">
 
        <div class=" carousel-caption d-sm-block d-md-block ">
            <h1 style="font-family: 'Bebas Neue', sans-serif;"> {{movies[1].title}}</h1>
            <button type="button" class="btn btn-danger  btn-sm m-2" data-bs-toggle="button" style="width: auto; height: auto;"[routerLink]="['/movie',movies[1]._id]"><span >WATCH MOVIE</span> </button> 
            <button type="button" class="btn btn-dark  btn-sm m-2" data-bs-toggle="button" style="width:fit-content; height: fit-content;">+ MY LIST </button> 
        </div>
      </div>

      <div class="carousel-item active" >
        <img src="https://images.toucharger.com/img/graphiques/fonds-d-ecran/nature--paysages/coucher-de-soleil/polynesie.72440.jpg" class=" w-100 img_banner over-image" alt="...">
        <div class="carousel-caption d-sm-block d-md-block">
            <h1 style="font-family: 'Bebas Neue', sans-serif;"> {{movies[2].title}}</h1>
            <button type="button" class="btn btn-danger  btn-sm m-2" data-bs-toggle="button" style="width: auto; height: auto;"[routerLink]="['/movie',movies[2]._id]"><span >WATCH MOVIE</span> </button> 
            <button type="button" class="btn btn-dark  btn-sm m-2" data-bs-toggle="button" style="width:fit-content; height: fit-content;">+ MY LIST </button> 
        </div>
      </div>

      <div class="carousel-item active" >
        <img src="https://images.toucharger.com/img/graphiques/fonds-d-ecran/nature--paysages/coucher-de-soleil/polynesie.72440.jpg" class=" w-100 img_banner over-image" alt="...">
        <div class="carousel-caption d-sm-block d-md-block">
            <h1 style="font-family: 'Bebas Neue', sans-serif;"> {{movies[3].title}}</h1>
            <button type="button" class="btn btn-danger  btn-sm m-2" data-bs-toggle="button" style="width: auto; height: auto;"[routerLink]="['/movie',movies[3]._id]"><span >WATCH MOVIE</span> </button> 
            <button type="button" class="btn btn-dark  btn-sm m-2" data-bs-toggle="button" style="width:fit-content; height: fit-content;">+ MY LIST </button> 
        </div>
      </div>

      <div class="carousel-item active" >
        <img src="https://images.toucharger.com/img/graphiques/fonds-d-ecran/nature--paysages/coucher-de-soleil/polynesie.72440.jpg" class=" w-100 img_banner over-image" alt="...">
        <div class="carousel-caption d-sm-block d-md-block">
            <h1 style="font-family: 'Bebas Neue', sans-serif;"> {{movies[4].title}}</h1>
            <button type="button" class="btn btn-danger  btn-sm m-2" data-bs-toggle="button" style="width: auto; height: auto;"[routerLink]="['/movie',movies[4]._id]"><span >WATCH MOVIE</span> </button> 
            <button type="button" class="btn btn-dark  btn-sm m-2" data-bs-toggle="button" style="width:fit-content; height: fit-content;">+ MY LIST </button> 
        </div>
      </div>




    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
  


<div class="container mt-5">
  <p class="text-start   font-weight-bold h1 pb-2 mb-4   border-bottom border-danger" style="color: #DC143C; --bs-border-opacity: .7;font-family: 'Lobster', cursive;"> Movies </p>
</div>



  <div class="container" >
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="background-image: url(https://img.akw.onl/thumb/1140x310/uploads/rBSWj.webp); " class="box_one  p-4 p-lg-5 mb-12">
              <div class="col-12 all_atone  my-4 test  "  >
                <div class="entry-poster text-center mb-4 mb-md-0">
                  <a href="https://ak.sv/movie/8700/the-flash">
                    <picture>
                      <img src="https://img.akw.onl/thumb/150x200/uploads/SEGik.jpg" class="img-fluid lazy"  >
                    </picture>
                  </a>
                </div>
              </div>

              <div class="col-lg-5 col-md-8 col-12 ">
                <div class="content-md">
                                <h3 class="font-size-24 font-size-md-30 font-weight-bold mb-0 mt-3 ">
                                  <a href="#" class="text-white text-decoration-none">The Flash</a></h3>
                  <p class="entry-desc font-size-16  text-light  mb-0 mt-3">مشاهدة و تحميل فيلم The Flash حيث يسعى باري آلين لاستغلال قدراته من أجل تغيير ماضيه وإنقاذ والدته من الموت، ولكن تتسبب محاولاته في خلل بالزمن والعوالم الموازية</p>
                  <div class="buttons mt-4">
                        <a href="https://www.youtube.com/watch?v=jprhe-cWKGs" class="btn btn-dark rounded-pill"> Teaser </a>
                      <a href="#" class="btn btn-dark rounded-pill  my-2 mx-2">Watch now </a>
                  </div>
                </div>
              </div>

            </div>
          </div>

          
          <div class="carousel-item">
            <div style="background-image: url(https://img.akw.onl/thumb/1140x310/uploads/rBSWj.webp); " class="box_one  p-4 p-lg-5 mb-12">
              <div class="col-12 all_atone  my-4 test  "  >
                <div class="entry-poster text-center mb-4 mb-md-0">
                  <a href="">
                    <picture>
                      <img src="https://img.akw.onl/thumb/150x200/uploads/SEGik.jpg" class="img-fluid lazy"  >
                    </picture>
                  </a>
                </div>
              </div>

              <div class="col-lg-5 col-md-8 col-12 ">
                <div class="content-md">
                                <h3 class="font-size-24 font-size-md-30 font-weight-bold mb-0 mt-3 ">
                                  <a href="" class="text-white text-decoration-none">The Flash</a></h3>
                  <p class="entry-desc font-size-16  text-light  mb-0 mt-3">مشاهدة و تحميل فيلم The Flash حيث يسعى باري آلين لاستغلال قدراته من أجل تغيير ماضيه وإنقاذ والدته من الموت، ولكن تتسبب محاولاته في خلل بالزمن والعوالم الموازية</p>
                  <div class="buttons mt-4">
                        <a href="https://www.youtube.com/watch?v=jprhe-cWKGs" class="btn btn-dark rounded-pill"> Teaser </a>
                      <a href="" class="btn btn-dark rounded-pill  my-2 mx-2">Watch now </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-6 col-lg-2 col-md-4 mb-12 py-2 "  [routerLink]="['/movie',1]">
          <img src="https://img.akw.onl/thumb/178x260/uploads/8rXGU.jpg" class="card-img-top" alt="movieimage">
        <div class="card-img-overlay  ">
    <p class="card-text">Movies Section</p>
    </div>
      </div>

  </div> 

 <div  class="text-center my-5 "  >
    <a  class="btn btn-more-section"  role="button">
      <button type="button" class="btn btn-dark rounded-pill" routerLink="/movies">
      <svg width="44px" height="32px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M512 1024C229.7 1024 0 794.3 0 512S229.7 0 512 0s512 229.7 512 512-229.7 512-512 512z m0-938.7C276.7 85.3 85.3 276.7 85.3 512S276.7 938.7 512 938.7 938.7 747.3 938.7 512 747.3 85.3 512 85.3z" fill="#3688FF"></path><path d="M469.3 704c-10.9 0-21.8-4.2-30.2-12.5-16.7-16.7-16.7-43.7 0-60.3L558.3 512 439.2 392.8c-16.7-16.7-16.7-43.7 0-60.3 16.7-16.7 43.7-16.7 60.3 0l149.3 149.3c16.7 16.7 16.7 43.7 0 60.3L499.5 691.5c-8.3 8.3-19.3 12.5-30.2 12.5z" fill="#5F6379"></path></g></svg> 
      <span style="font-family: Georgia, 'Times New Roman', Times, serif;" class="fw-bold">More</span> 
  </button>
</a> 

 </div>
</div>



<div class="container mt-5">
  <p class="text-start   font-weight-bold h1 pb-2 mb-4   border-bottom border-danger" style="color: #DC143C; --bs-border-opacity: .7;font-family: 'Lobster', cursive;">TV</p>
</div>



  <div class="container" >
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="background-image: url(https://img.akw.onl/thumb/1140x310/uploads/rBSWj.webp); " class="box_one  p-4 p-lg-5 mb-12">
              <div class="col-12 all_atone  my-4 test  "  >
                <div class="entry-poster text-center mb-4 mb-md-0">
                  <a href="">
                    <picture>
                      <img src="https://img.akw.onl/thumb/150x200/uploads/SEGik.jpg" class="img-fluid lazy"  >
                    </picture>
                  </a>
                </div>
              </div>

              <div class="col-lg-5 col-md-8 col-12 ">
                <div class="content-md">
                                <h3 class="font-size-24 font-size-md-30 font-weight-bold mb-0 mt-3 ">
                                  <a href="#" class="text-white text-decoration-none">The Flash</a></h3>
                  <p class="entry-desc font-size-16  text-light  mb-0 mt-3">مشاهدة و تحميل فيلم The Flash حيث يسعى باري آلين لاستغلال قدراته من أجل تغيير ماضيه وإنقاذ والدته من الموت، ولكن تتسبب محاولاته في خلل بالزمن والعوالم الموازية</p>
                  <div class="buttons mt-4">
                        <a href="https://www.youtube.com/watch?v=jprhe-cWKGs" class="btn btn-dark rounded-pill"> Teaser </a>
                      <a href="" class="btn btn-dark rounded-pill  my-2 mx-2">Watch now </a>
                  </div>
                </div>
              </div>

            </div>
          </div>

          
          <div class="carousel-item ">
            <div style="background-image: url(https://img.akw.onl/thumb/1140x310/uploads/rBSWj.webp); " class="box_one  p-4 p-lg-5 mb-12">
              <div class="col-12 all_atone  my-4 test  "  >
                <div class="entry-poster text-center mb-4 mb-md-0">
                  <a href="">
                    <picture>
                      <img src="https://img.akw.onl/thumb/150x200/uploads/SEGik.jpg" class="img-fluid lazy"  >
                    </picture>
                  </a>
                </div>
              </div>

              <div class="col-lg-5 col-md-8 col-12 ">
                <div class="content-md">
                                <h3 class="font-size-24 font-size-md-30 font-weight-bold mb-0 mt-3 ">
                                  <a href="" class="text-white text-decoration-none">The Flash</a></h3>
                  <p class="entry-desc font-size-16  text-light  mb-0 mt-3">مشاهدة و تحميل فيلم The Flash حيث يسعى باري آلين لاستغلال قدراته من أجل تغيير ماضيه وإنقاذ والدته من الموت، ولكن تتسبب محاولاته في خلل بالزمن والعوالم الموازية</p>
                  <div class="buttons mt-4">
                        <a href="https://www.youtube.com/watch?v=jprhe-cWKGs" class="btn btn-dark rounded-pill"> Teaser </a>
                      <a href="" class="btn btn-dark rounded-pill  my-2 mx-2">Watch now </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-6 col-lg-2 col-md-4 mb-12 py-2" >
          <img src="https://img.akw.onl/thumb/178x260/uploads/8rXGU.jpg" class="card-img-top" alt="movieimage">
        <div class="card-img-overlay  ">
    <p class="card-text">Movies Section</p>
    </div>
      </div>

  </div> 

 <div  class="text-center m-5 "  >
    <a role="button" class="btn btn-more-section" >
      <button type="button" class="btn btn-dark rounded-pill" routerLink="/shows">
      <svg width="44px" height="32px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M512 1024C229.7 1024 0 794.3 0 512S229.7 0 512 0s512 229.7 512 512-229.7 512-512 512z m0-938.7C276.7 85.3 85.3 276.7 85.3 512S276.7 938.7 512 938.7 938.7 747.3 938.7 512 747.3 85.3 512 85.3z" fill="#3688FF"></path><path d="M469.3 704c-10.9 0-21.8-4.2-30.2-12.5-16.7-16.7-16.7-43.7 0-60.3L558.3 512 439.2 392.8c-16.7-16.7-16.7-43.7 0-60.3 16.7-16.7 43.7-16.7 60.3 0l149.3 149.3c16.7 16.7 16.7 43.7 0 60.3L499.5 691.5c-8.3 8.3-19.3 12.5-30.2 12.5z" fill="#5F6379"></path></g></svg> 
      <span style="font-family: Georgia, 'Times New Roman', Times, serif;" class="fw-bold">More</span> 
      </button>
  </a> 

 </div>
</div>








