<div class="hamda"><br> <br> <br>  </div>

<form  style="border:1px solid #ccc" (submit)="onSignUp(signupForm)" #signupForm="ngForm">
    <div class="container">
      <h1 class="text-light">Sign Up</h1>
      <p class="text-light">Please fill in this form to create an account.</p>
      <hr>
      <label for="user" class="text-light"><b>Username</b></label>
      <input type="text" placeholder="Username" name="user" ngModel class="form-control"  #userNameInput="ngModel" required>

      <label for="email" class="text-light"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email"   ngModel class="form-control"  #userEmailInput="ngModel"required>
  
      <label for="psw"><b class="text-light">Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw"   ngModel class="form-control"  #userPasswordInput="ngModel"required>
  
      <label for="pswrepeat" class="text-light"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="pswrepeat" required  ngModel #userPasswordInput="ngModel">
      
      
      <p class="text-light">By creating an account you agree to our <a href="#" style="color:dodgerblue" class="text-light">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
  