.gradient-custom {
    /* fallback for old browsers */
    background: #4a3166;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(48, 43, 53), rgb(75, 108, 163));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(83, 64, 109), rgb(46, 51, 58))
    }