<div class="hamda"><br> <br> <br>  </div>
<div class="container-fluid">
    <div class="container mt-5" >
        <div class="row">
          <div class="col-lg-2 col-md-4 col-6 mb-12 py-2\" >
              <img  class="card-img-top" alt="movieimage">
      <div class="card-img-overlay  ">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content</p>
      </div>
    
        </div>
      </div> 
      
</div>
<div style="background-color: rgb(224, 53, 23);">
  <mat-paginator 
  [length]="totalPages" 
  [pageSize]="pageSize"
  [color]=""
  aria-label="Select page"

  >
  (page)="handlePageEvent($event)"
  </mat-paginator>


</div>

